BODY {
	BACKGROUND: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: normal
}
TD {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 70%; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
P {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: normal
}
BLOCKQUOTE {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: normal
}
DL {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: normal
}
DT {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: normal
}
UL {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; LIST-STYLE: disc
}
OL {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: normal
}
H1 {
	COLOR: #b82619; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
H2 {
	BACKGROUND-COLOR: #eae2bb; COLOR: #b82619; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
H3 {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
H4 {
	COLOR: #b82619; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
PRE {
	FONT-SIZE: 120%
}
TT {
	FONT-SIZE: 120%
}
CODE {
	FONT-SIZE: 120%
}
KBD {
	FONT-SIZE: 120%
}
A:link {
	COLOR: #b82619; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #80764f; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #b82619; TEXT-DECORATION: underline
}
A.doc:link {
	COLOR: #b82619; TEXT-DECORATION: underline
}
A.doc:visited {
	COLOR: #b82619; TEXT-DECORATION: underline
}
A.doc:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.doc:active {
	COLOR: #b82619; TEXT-DECORATION: underline
}
.heading {
	COLOR: #b82619; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.headingwhite {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.subheading {
	COLOR: #b82619; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.subheadingsmall {
	COLOR: #b82619; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.subheadingblack {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.subheadingwhite {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.docsubheading {
	BACKGROUND-COLOR: #eae2bb; COLOR: #b82619; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.docsubheadinggrey {
	BACKGROUND-COLOR: #cccccc; COLOR: #b82619; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.error {
	COLOR: #b82619
}
.err {
	COLOR: #b82619
}
.lineColour {
	BACKGROUND: #999999
}
UL.sans {
	LIST-STYLE: none
}
TD.userOptions {
	BACKGROUND: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 70%; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
TD.userOptions A:link {
	COLOR: #b82619; TEXT-DECORATION: underline
}
TD.userOptions A:visited {
	COLOR: #b82619; TEXT-DECORATION: underline
}
TD.navSel {
	BACKGROUND: #eae2bb; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
TD.navSel A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
TD.navSel A:hover {
	COLOR: #b82619; TEXT-DECORATION: none
}
TD.navSel A:active {
	COLOR: #b82619; TEXT-DECORATION: none
}
TD.navSel A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
TD.navunSel {
	BACKGROUND: #b82619; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
TD.navunSel A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
TD.navunSel A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
TD.navunSel A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
TD.navunSel A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
TD.navSecondary {
	BACKGROUND: #eae2bb; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
TD.navSecondary A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
TD.navSecondary A:hover {
	COLOR: #b82619; TEXT-DECORATION: none
}
TD.navSecondary A:active {
	COLOR: #b82619; TEXT-DECORATION: none
}
TD.navSecondary A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
P.cat {
	LINE-HEIGHT: 5px
}
P.cat A:link {
	COLOR: #b82619
}
P.cat A:hover {
	COLOR: #000000
}
P.cat A:active {
	COLOR: #b82619
}
P.cat A:visited {
	COLOR: #b82619
}
TD.path {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 70%; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
TD.footer {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 70%; TEXT-DECORATION: none
}
TD.formRequired {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 70%; FONT-WEIGHT: bold
}
TD.searchResults {
	BACKGROUND: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 70%; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
TD.previousNext {
	BACKGROUND: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 70%; FONT-WEIGHT: normal
}
TD.previousNextRef {
	BACKGROUND: #eeeeee; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 70%; FONT-WEIGHT: normal
}
TD.treeRefMain {
	BACKGROUND: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 80%; FONT-WEIGHT: normal
}
TD.treeRefMain A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
TD.treeRefMain A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
TD.treeRefMain A:hover {
	COLOR: #b82619; TEXT-DECORATION: underline
}
TD.treeRefMain A:active {
	COLOR: #b82619; TEXT-DECORATION: underline
}
TD.treeRef {
	BACKGROUND: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 70%; FONT-WEIGHT: normal
}
TD.treeRef A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
TD.treeRef A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
TD.treeRef A:hover {
	COLOR: #b82619; TEXT-DECORATION: underline
}
TD.treeRef A:active {
	COLOR: #b82619; TEXT-DECORATION: underline
}
TD.downloads {
	BACKGROUND: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 70%; FONT-WEIGHT: normal
}
TD.downloads A:link {
	COLOR: #b82619
}
TD.downloads A:visited {
	COLOR: #b82619
}
TD.downloadsBeta {
	BACKGROUND: #eeeeee; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 70%; FONT-WEIGHT: normal
}
TD.downloadsBeta A:link {
	COLOR: #b82619
}
TD.downloadsBeta A:visited {
	COLOR: #b82619
}
P.downloadsMain {
	BACKGROUND: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold
}
P.downloadsMain A:link {
	FONT-WEIGHT: normal
}
P.downloadsMain A:hover {
	FONT-WEIGHT: normal
}
P.downloadsMain A:active {
	FONT-WEIGHT: normal
}
P.downloadsMain A:visited {
	COLOR: #b82619; FONT-WEIGHT: normal
}
P.downloadsMain A.downloadName:link {
	COLOR: #000000; FONT-WEIGHT: bold
}
P.downloadsMain A.downloadName:hover {
	COLOR: #000000; FONT-WEIGHT: bold
}
P.downloadsMain A.downloadName:active {
	COLOR: #000000; FONT-WEIGHT: bold
}
P.downloadsMain A.downloadName:visited {
	COLOR: #000000; FONT-WEIGHT: bold
}
TD.quote {
	COLOR: #666666; FONT-SIZE: 70%
}
.syntaxstring {
	COLOR: #23238e
}
.syntaxtext {
	COLOR: #000000
}
.syntaxcomment {
	COLOR: #696969
}
.syntaxname {
	COLOR: #000000
}
.syntaxerror {
	COLOR: #e63c3c
}
.syntaxkeyword {
	COLOR: #871f78
}
.syntaxactiveblue {
	COLOR: #0032ff
}
.syntaxdarkblue {
	COLOR: #00008b
}
.syntaxdarkgreen {
	COLOR: #006400
}
.syntaxdarkcyan {
	COLOR: #008b8b
}
.syntaxfirebrick {
	COLOR: #b22222
}
.syntaxactiveorange {
	COLOR: #c86400
}
 TD.SCheader {
	BACKGROUND: #c2b266; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 80%; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
TD.SCshade {
	BACKGROUND: #eae2bb; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 80%
}
A.windowClose:link {
	COLOR: #ffffff; FONT-WEIGHT: bold
}
A.windowClose:visited {
	COLOR: #ffffff; FONT-WEIGHT: bold
}
A.windowClose:hover {
	COLOR: #ffffff; FONT-WEIGHT: bold
}
A.windowClose:active {
	COLOR: #ffffff; FONT-WEIGHT: bold
}
A.arc:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.arc:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.arc:hover {
	COLOR: #b82619; TEXT-DECORATION: underline
}
A.arc:active {
	COLOR: #b82619; TEXT-DECORATION: underline
}
.highlight1 {
	BACKGROUND: #eae2bb
}
.highlight2 {
	BACKGROUND: #bbbbbb
}
.highlight3 {
	BACKGROUND: #cfbf7f
}
.highlight4 {
	BACKGROUND: #dddddd
}
.highlight5 {
	BACKGROUND: #ccc8b8
}
.mail_quotation {
	COLOR: #80764f
}
TD.doc {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 100%
}
