H3 {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; MARGIN: 0px 0px 5px; COLOR: #0054a6; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none; paddin: 0px
}
P.hot_new {
	FONT-WEIGHT: 400; FONT-SIZE: 12px; COLOR: #0054a6; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
P.news {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-ALIGN: justify; TEXT-DECORATION: none
}
A.useful {
	FONT-WEIGHT: 400; FONT-SIZE: 12px; COLOR: #0054a6; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
A.top_menu {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
.top_menu {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
A.short_news {
	FONT-WEIGHT: 700; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
A.more {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #0054a6; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
TD FONT.section {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
FONT.section {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
FONT.section A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
P.date {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 3px; COLOR: #818181; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
P.kolonka_link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; COLOR: #0054a6; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
A.kolonka_link {
	FONT-WEIGHT: 400; FONT-SIZE: 12px; COLOR: #0054a6; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
P.reklama {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 25px; COLOR: #818181; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
P.design {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #c1c1c1; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
A.design {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #c1c1c1; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: none
}
P.interview {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #0054a6; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
A.interview {
	FONT-WEIGHT: 400; FONT-SIZE: 12px; COLOR: #0054a6; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
P.forum_news {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #2e3192; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
A.forum_news {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #2e3192; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif; TEXT-DECORATION: underline
}
P.vote {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif
}
.ftdH {
	FONT-SIZE: 12px; BACKGROUND: #5674b9; COLOR: #ffffff
}
.tdH {
	FONT-SIZE: 12px; BACKGROUND: #5674b9; COLOR: #ffffff
}
.fsubj {
	FONT-SIZE: 14px
}
.fdate {
	FONT-SIZE: 14px; COLOR: #000000
}
.fsmall {
	FONT-SIZE: 14px; COLOR: #000000
}
.fconf_subj {
	FONT-SIZE: 14px; BACKGROUND: #cccccc; COLOR: #000000
}
.fconf_name {
	FONT-SIZE: 12px; COLOR: #5674b9
}
.fconf_text {
	FONT-SIZE: 12px; COLOR: #444444
}
.fconf_date {
	FONT-SIZE: 12px; COLOR: #5674b9
}
.fconf_in1 {
	FONT-SIZE: 10px; BACKGROUND: #eeeeee; FONT-FAMILY: Verdana, Tahoma, sans-serif
}
.bgin1 {
	FONT-SIZE: 10px; BACKGROUND: #eeeeee; FONT-FAMILY: Verdana, Tahoma, sans-serif
}
.fconf_in2 {
	FONT-SIZE: 10px; BACKGROUND: #f6f6f6; FONT-FAMILY: Verdana, Tahoma, sans-serif
}
.bgin2 {
	FONT-SIZE: 10px; BACKGROUND: #f6f6f6; FONT-FAMILY: Verdana, Tahoma, sans-serif
}
.fconf_ramka {
	BACKGROUND: #ffffff
}
.ramka {
	BACKGROUND: #ffffff
}
INPUT {
	FONT-SIZE: 14px
}
TEXTAREA {
	FONT-SIZE: 14px
}
.quot {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 100%; BACKGROUND: #cccccc; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
