A{
	color : #0000FF;
	text-decoration : none;
}

A:VISITED{
	color : #800080;
}

A:HOVER {
	color : #680000;
	text-decoration : underline;
}

A.BLACK{
	color : #000175;
	text-decoration : none;
}

A.BLACK:VISITED{
	color : #570057;
}

A.BOOKDETAIL{
	color : #7D83A6;
}

A.BOOKDETAIL:VISITED{
	color : #9D70B4;
}

A.BOOKDETAIL:HOVER{
	background-color : transparent;
	color : #000000;
}

A.ONBLACK{
	color : #FFFFFF;
}

A.ONBLACK:VISITED{
	background-color : transparent;
	color : #D5D5D5;
}

A.ONBLACK:HOVER{
	background-color : transparent;
	color : #ACCDFD;
}

A.ROOT,A.ROOT:VISITED{
	color : #FFFFFF;
	text-decoration : none;
}

A.ROOT:HOVER{
	background-color : transparent;
	color : #ACCDFD;
}

BODY{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

DIV.ALPHABET{
	float : left;
	margin : 0 1.5em 0.3em 0.3em;
	padding : 0.2em;
}

DIV.ANNOTATION{
	float : left;
	margin : 0.2em 0.7em 0 0.3em;
	padding : 0.2em;
	text-align : justify;
	width : 22em;
}

DIV.COVERPAGE{
	float : left;
	margin : 0.2em 0.7em 0 0.3em;
	padding : 0.2em 0.7em 0.2em 0;
	text-align : center;
}
DIV.AUTHDESC{
	float : left;
	margin : 0.2em 0.7em 0 0.3em;
	padding : 0.2em;
	text-align : justify;
	width : 30em;
}
DIV.AUTHOR{
	margin : 0.2em 1em 0.3em 0.4em;
}

DIV.BOOKDETAIL{
	color : #848484;
	font-size : 80%;
	margin : 0 0.1em 0 1.6em;
}

DIV.BOOKLIST{
	margin : 0.2em 0 0.3em 0.4em;
}

DIV.BOTTOMMENU{
	color : #FFFFFF;
	font-size : 80%;
	margin : 0 0 0 0.3em;
	padding : 0.25em 0 0.25em 0.2em;
}

DIV.COVERPAGE{
	float : left;
	margin : 2em 0 0 0.3em;
	padding : 0.2em;
}
DIV.SIMPLE{
	margin : 0.3em 0 0 0.3em;
	padding : 0.2em;
}
DIV.FLOATING{
	float : left;
	margin : 0.3em 0 0 0.3em;
	padding : 0.2em;
}
DIV.STATS{
	margin : 0.9em 0 0 0.3em;
	padding : 0.2em;
}

DIV.FLOATTWICE{
	float : left;
	margin : 0.3em 1em 0 0.3em;
	padding : 0.2em;
}

DIV.FULBOK{
	margin : 0.1em 0 0 0.2em;
	padding : 0 0 0.2em 0;
}

DIV.HEAD{
	color : #FFFFFF;
	float : left;
	margin : 0.1em 0.3em 0 0.3em;
	padding : 0 0.2em 0 0.2em;
}

DIV.NNFIX{
	float : left;
}

DIV.PAGEHEAD{
		margin : 1em 0.3em 0.6em 0.5em;
}

DIV.PAGELIST{
	margin : 0.8em 0 0 0.5em;
	padding-top: 0.3em;
	clear : both;
}

DIV.PATH{
	font-size : 80%;
	margin : 0.3em 0.3em 0 0.85em;
}

DIV.RUENG{
	background-color : #404040;
	color : #FFFFFF;
	float : left;
	margin : 0 0 0 0.3em;
}

DIV.SEARCH{
	float : left;
	margin : 0.3em 0 0.3em 0.3em;
}

DIV.SORTMENU{
	float : left;
	margin : 0 0.1em 0 0.2em;
	padding : 0.1em 0.3em 0.5em 0.3em;
}

DIV.SUBMIT{
	margin : 0.3em 0 0.5em 0;
}

DIV.USERINFO{
	margin : 0.6em 0 0 0.3em;
	padding : 0.2em 0 0 0.2em;
	width : 40em;
	clear : both;
}

DIV.VOTE{
	margin : 0 0 0 0.3em;
	padding : 0.2em 0 0 0.2em;
	clear : both;
}

DIV.INFO{
	margin : 0.2em 0 0.3em 0.4em;
	width : 40em;
	text-align : justify;
}
DIV.NEWSCOLUMN{
	margin : 0.2em 0 0.3em 1em;
	width : 25em;
	text-align : justify;
	clear : both;
}
DIV.homepage_news{
	margin : 0 0 0.3em 0.6em;
	
}
H1{
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 200%;
	font-weight : normal;
	margin-bottom : 0;
	margin-top : 0;
	width : 25em;
}

H2{
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 120%;
	font-weight : bold;
	margin-bottom : 0.1em;
	margin-top : 0.1em;
}
H3{
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 110%;
	font-weight : bold;
	margin-bottom : 0.2em;
	margin-top : 0.3em;
}

H3.news{
	margin-bottom : 0;
	margin-top : 0;
	padding : 1em 0 0 0;
}
H4{
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 105%;
	font-weight : bold;
	margin-bottom : 0;
	margin-top : 0;
}
H4.newsdate{
	margin-bottom : 0;
	margin-top : 0;
	padding : 0 0 0 0;
	font-size : 105%;
	font-weight : normal;
	font-style : italic;
}
H5{
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 100%;
	font-weight : bold;
	margin-bottom : 0;
	margin-top : 0;
}
H6{
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 95%;
	font-weight : bold;
	margin-bottom : 0;
	margin-top : 0;
}
IMAGE.MICROSPACER{
	height : 0.2em;
}

IMAGE.SMALLSPACER{
	height : 0.35em;
}

IMAGE.SPACER{
	height : 0.55em;
}

INPUT.MAINSEARCH{
	border : 1px solid #C0C0C0;
	width : 13em;
}

OL {
	font-weight : normal;
	margin-bottom : 0;
	margin-left : 1.5em;
	margin-top : 0;
	padding-left : 1em;
}

P{
	font-size : 90%;
	margin : 0.1em 0 0 0;
	text-indent : 1em;
}

P, LI {
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

SMALL.ALPHABET{
	font-size : 80%;
	letter-spacing : 0.12em;
}

SMALL.BOOKDETAIL{
	font-size : 85%;
}

SMALL.DOCINFO{
	font-size : 90%;
}

SPAN.SIMAUTHR{
	font-size : 50%;
	font-weight : normal;
}
SPAN.ERROR{
	color : Red;
}
SPAN.ACESSHIDDEN{
	text-decoration : line-through;
}
STRONG.POPBOOK{
	font-size : 110%;
	font-weight : normal;
}

TABLE.DARKMENU{
	background-color : #575757;
}

TABLE.BOTTOMMENU{
	background-color : #575757;
	clear : both;
	margin-top : 1em;
}

TABLE.HEAD{
	background-color : #EFEFEF;
}

TD{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
TD.statgraph{
	font-family: 'Courier New', Courier, monospace;
	font-size: 60%;
}
UL{
	font-weight : normal;
	margin-bottom : 0;
	margin-left : 1em;
	margin-top : 0;
	padding-left : 0.35em;
}

.FBLIB{
	font-size : 200%;
}
B.FOUND{
	text-decoration : underline;
	font-weight : bold;
	color : #000195;
}
FORM{
	margin : 0.3em 0 0 0;
}

option.grayed{
	background-color:#EFEFEF;
}
option.black{
	background-color : Gray;
	color : Aqua;
}
select.vote{
	width:7.5em;
}
select.news_books_list, input.news_subj, textarea.newsbody{
	width : 30em;
	margin : 0;
	padding : 0;
}
input.vote{
	width:5em;
}
input.recensebtn{
	width:12em;
}
textarea{
	margin : 0 0 0 1em;
	padding : 0.2em;
	width : 29em;
}
th{
	text-align:left;
	font-style:italic;
}
blockquote,div.news_genre{
	margin : 0 0 0 1.5em;
	padding : 0;
}
