<form action="http://www.google.com/cse" class="form-inline">
    <div class="form-group">
        <input type="hidden" name="cx" value="004117517373819086810:vnaomk_rzpy" />
        <input type="hidden" name="ie" value="UTF-8" />
        <div class="col-sm-12">
            <input placeholder="{{ site.search[page.lang] }}" class="form-control" type="text" name="q" tabindex="0" accesskey="S" />
        </div>
        <input id="searchsubmit" type="hidden" name="sa" value="Search" />
    </div>
</form>