BODY {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14px;
}
P {
	text-indent : 12px;
	margin-top : 0;
	margin-bottom : 8;
}
H1 {
	color : #10529A;
	font-weight : bold;
	font-size : 25px;
	margin-bottom : 1;
	margin-top : 1;
	padding-top : 1;
	padding-bottom : 5;
}
H2 {
	font-size : 20px;
	font-weight : bold;
	color : #10529A;
	padding-top : 0;
	margin-top : 15;
	padding-bottom : 0;
	margin-bottom : 10;
}
H3 {
	font-size : 17px;
	font-weight : bold;
	color : #10529A;
	padding-top : 0;
	margin-top : 10;
	padding-bottom : 0;
	margin-bottom : 2;
}
CODE {
	color : #00003C;
	font-weight : bold;
	font-family : "Courier New", Courier, monospace;
}
TD {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14px;
	vertical-align : top;
}
TD.LINED{
	border-top: 1 solid #A9A9A9;
	border-right: 1 solid #A9A9A9;
}
TD.BLACK{
	background-color : Black;
}
TH {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 15px;
	background-color : #DFE8FF;
	text-align : left;
}
TD.RIGHT{
	text-align : right;
	font-weight : bold;
}
TABLE.EXAMPLE{
	border: 1 solid Black;
	background-color : #FBFFFD;
	margin-left : 12px;
}
TABLE.variants{
	border: 1 solid #C8C8C8;
	background-color : White;
	margin-left : 12px;
}

A {
	color : Blue;
}
 A.EXTERNAL{
	color: Navy;
}
 A.EXTERNAL:HOVER{
	color: White;
	background-color : #10529A;
}
A.external:VISITED{
	color : #D3D3D3;
}
A:HOVER, A:ACTIVE {
	color : Red;
}
A:VISITED {
	color : Purple;
}
A.EXTERNAL:VISITED{
	color : #660000;
}
A.OPENER{
	color : #009A00;
	font-weight : bold;
}
A.OPENER:HOVER{
	color : #00C800;
	font-weight : bold;
}
A.OPENER:VISITED{
	color : #656B00;
}
PRE {
	font-size : 11px;
	background-color : #E0E0FF;
}
PRE.large{
	font-size : 13px;
	padding : 10 10 10 10;
	border : 1 inset Black;
	width : 550;
}
SMALL {
	font-size : -2px;
	font-weight : normal;
}
P.bold {
	text-indent : 0;
	margin-top : 0;
	margin-bottom : 5;
	font-weight : bold;
}
P.plain {
	margin-top : 0;
	margin-bottom : 0;
}
span.escape{
	color : #9B0000;
	font-family : "Courier New", Courier, monospace;
	background-color : #EAF1F7;
}