---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
  <div class="panel-group">
    <div class="panel panel-default">
    <div class="panel-heading">{{ site.strings.history[page.lang] }}</div>
        <div class="panel-body">
            <table>
              {% for post in site.posts %}
                {% if page.lang == post.lang %}
                    <tr>
                        <td>{{ post.date | date: "%Y.%m.%d" }}</td>
                        <td>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </td>
                    </tr>
                {% endif %}
              {% endfor %}
            </table>
        </div>
    </div>
  </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">{{ site.strings.reviews[page.lang] }}</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{ site.strings.author[page.lang] }}</th>
                            <th>{{ site.strings.country[page.lang] }}</th>
                            <th>{{ site.strings.text[page.lang] }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for review in site.data.reviews %}
                        <tr>
                            <td>
                                {{ review.author }}
                            </td>
                            <td>
                                {{ review.country }}
                                <span class="flag-icon flag-icon-{{review.country-code}}"></span>
                            </td>
                            <td>
                                {{ review.text }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</article>
